**ipynb_checkpoints**
**/models/**
models_repository/**/*.onnx
**/*.pyc
kubernetes/secret.yaml
offload/
datasets/
***.env**
public-key-cert.pem
deployment/kubernetes/database-secret.yaml
volumes/
pgdata/
