[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
torch = "==2.0"
transformers = "==4.27.1"
datasets = "==2.16.1"
accelerate = "==0.17.1"
evaluate = "==0.4.0"
tensorboard = "==2.15.1"
scikit-learn = "==1.4.0"
sentence-transformers = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
